name = "transport-tracker"
main = "src/worker.js"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./public"

[[d1_databases]]
binding = "DB"
database_name = "transport-tracker-db"
database_id = "0448180d-71ca-4286-b0c7-f4ec26ac317e"

[triggers]
crons = ["0 17 * * *"]